<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <script type="text/javascript" src="/static/test.js" ></script>
</head>
<body>
<form action="/user/login" method="post">
    用户名：<input type="text" onclick="test(111)" name="username"/><br/>
    密&nbsp;&nbsp;&nbsp;码：<input type="password" name="password"/><br/>
    记住我<input type="checkbox" name="rememberMe" onclick="test(111)"/>
    <input type="submit" onclick="test(111)" value="提交">
</form>
</body>
</html>